.homepage {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
}

.bckImage {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets/salad.jpg");
  background-size: cover;
  background-position: center;
}

.greeting {
  font-size: 60px;
  font-weight: 400;
}

.greet-caption {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
